server:
  port: 8080

spring:
  application:
    name: payment

  datasource:
    url: jdbc:h2:mem:payments;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  flyway:
    enabled: true

  h2:
    console:
      enabled: true
      path: /h2-console
